fastapi
uvicorn[standard]
python-multipart
pydantic-settings
sqlalchemy[asyncio]
asyncpg
httpx
oss2
beautifulsoup4
python-dotenv
markitdown[docx,pptx,xlsx,xls,pdf]
pyyaml
alibabacloud_dysmsapi20170525
alibabacloud_credentials
alibabacloud_tea_openapi
alibabacloud_tea_util
alibabacloud_bssopenapi20171214
volcengine
wechatpayv3
